* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#nav-list {
	background-color: #259c6e;
}

#nav-list li {
	border: 1px solid black;
}

#text-container {
	height: 1000px;
	background-color: #f6b319;
}

.section {
	background-color: #f6b319;
	margin-bottom: 15px;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px; 
}

.container{
	margin-left: 10px;
}